/ProcessUsage/bin/Debug/ProcessUsage.exe
/ProcessUsage/bin/Debug/ProcessUsage.exe.config
/ProcessUsage/bin/Debug/ProcessUsage.pdb
/ProcessUsage/bin/Debug/ProcessUsage.vshost.exe
/ProcessUsage/bin/Debug/ProcessUsage.vshost.exe.config
/ProcessUsage/bin/Debug/ProcessUsage.vshost.exe.manifest
/ProcessUsage/obj/Debug/App.g.cs
/ProcessUsage/obj/Debug/App.g.i.cs
/ProcessUsage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ProcessUsage/obj/Debug/MainWindow.baml
/ProcessUsage/obj/Debug/MainWindow.g.cs
/ProcessUsage/obj/Debug/MainWindow.g.i.cs
/ProcessUsage/obj/Debug/ProcessUsage.Properties.Resources.resources
/ProcessUsage/obj/Debug/ProcessUsage.csproj.FileListAbsolute.txt
/ProcessUsage/obj/Debug/ProcessUsage.csproj.GenerateResource.Cache
/ProcessUsage/obj/Debug/ProcessUsage.exe
/ProcessUsage/obj/Debug/ProcessUsage.g.resources
/ProcessUsage/obj/Debug/ProcessUsage.pdb
/ProcessUsage/obj/Debug/ProcessUsage_MarkupCompile.cache
/ProcessUsage/obj/Debug/ProcessUsage_MarkupCompile.i.cache
/ProcessUsage/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ProcessUsage/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ProcessUsage/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ProcessUsageMonitor.suo
/ProcessUsageMonitor.v11.suo
